.inputWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 1rem;

  .superInput {
    outline: none;
  }

  label {
    color: rgba(255,255,255,0.8);
  font-size: 0.8em;
  }

  input::placeholder {
    color: #8cb3f0;
  }

  .spanError {
    padding-top: 5px;
    color: #af13a3;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
}
