.errorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 6px;
  max-width: 350px;
  margin: 0 auto;
  padding: 5px;
  top: -40px;
  position: relative;

  .error {
    text-align: center;
    color: #fff;
  }
}

