.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px 20px;
  background-color: rgba(131, 57, 208, 0.8);

  .headline {
    text-align: center;
    line-height: 1.12;

    .headlineText {
      color: #fff;
      font-weight: 800;
      margin-bottom: 80px;
    }
  }

  .form {
    width: 100%;

    .formDescription {
      font-size: 20px;
      color: #fff;
      margin: 0 0 20px 0;
    }

    form {
      box-sizing: border-box;

      .input {
        min-height: 50px;
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        background-color: transparent;
        color: white;
        transition: none;
        width: 100%;
        height: calc(2.25rem + 2px);
        font-size: 1rem;
        line-height: 1.5;
        background-clip: padding-box;
        border-radius: .25rem;
      }

      .formBtnWrapper {
        margin-bottom: 1rem;

        .formBtn {
          cursor: pointer;
          font-size: 17px;
          font-weight: 600;
          border: 0;
          color: #fff;
          border-radius: 3px;
          background-color: #568ad1;
          padding: 10px 36px;
          margin-bottom: 10px;
          width: 100%;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #2d567f;
            border-color: #2d567f;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .formWrapper {
    padding: 15% 15% 60px;

    .headline {
      .headlineText {
        margin-bottom: 57px;
      }
    }

    .formDescription {
      text-align: center;
    }
  }
}
