.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 80px 60px;
    background-color: rgba(131, 57, 208, 0.8);

    .userInfo {
      text-align: center;
      color: #fff;
      font-weight: 500;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 40vw;

      .info {
        display: flex;
        justify-content: center;
        width: 100%;
      }

    }

    .logoutBtnWrapper {
      margin-bottom: 3rem;

      .logoutBtn {
        cursor: pointer;
        font-size: 17px;
        font-weight: 600;
        border: 0;
        color: #fff;
        border-radius: 3px;
        background-color: #568ad1;
        padding: 10px 36px;
        margin-bottom: 10px;
        width: 100%;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #2d567f;
          border-color: #2d567f;
        }
      }
    }
  }
}
